<%= render 'layouts/header'%>

<%if @tags.present?%>
  <div class="tags-list">
    <% @tags.each do |tag|%>
      <%= link_to tag.name, tag_path(tag.id), class: "tag-name"%>
    <%end%>
  </div>
<%else%>
  <h3>初めての共有者になろう→<%= link_to '投稿する', article_path, class: "new-post"%>
<%end%>