<%= render 'layouts/header'%>

<main class="main-contents">

  <div class="main-middle">

    <div class="main-center">
      <div class="main-center-top-t">
        <h2 class="all-tag-name">All Tags</h2>
      </div>
      
      <%if @tags.present?%>
        <div class="tags-list">
          <% @tags.each do |tag|%>
            <h2><%= link_to tag.name, tag_path(tag.id), class: "tag-name"%></h2>
          <%end%>
        </div>
      <%else%>
        <h3>初めての共有者になろう→<%= link_to '投稿する', article_path, class: "new-post"%>
      <%end%>
    </div>
  </div>
</main>