<%= render 'layouts/header'%>

<main class="main-contents">

  <div class="main-middle">

    <div class="main-center">
      <div class="main-center-top">
        <h2 class="tag-name"><%=@tag.name%></h2>
      </div>
      
      <%= render 'layouts/articles'%>

    </div>

    <div class="main-right">
      <%= render 'layouts/tags'%>
    </div>
  </div>
</main>